<!DOCTYPE html>
<html lang="is">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styless.min.css">
        <title>Forum</title>
    </head>
<body>
    <nav class="topnav">
        <ul class="topmenu">
            <li><a href="bread.html"><span class="icon-Bread"></span> Bread</a></li>
            <li><a href="#"><span class="icon-Starters"></span> Starters</a></li>
            <li><a href="#"><span class="icon-Meals"></span> Main Courses</a></li>
            <li><a href="#"><span class="icon-Sweets"></span> Desserts</a></li>
            <li><a href="#"><span class="icon-Drinks"></span> Drinks</a></li>
            <li><a href="forum.html" class="active"><span class="icon-forum"></span> Forum</a></li>
        </ul>
    </nav>
    <div class="splashlogo"><a href="index.html">
        <img src="img/my-recipes.svg" width="25%" title="myrecipes logo">
        </a>
    </div>
    <nav class="paddin">
    <div class="col-2">
        <textarea class="full-width" rows="6"></textarea>
        <section>
    <label for="birthday">Enter the date</label>
    <input type="date" name="birthday">
</section>
<section>
    <label for="phone">Phonenumber</label>
    <input type="number" placeholder="number" name="phone">
</section>
<section>
    <label for="Email">Email</label>
    <input type="email" placeholder="Einarsv19@tskoli.is" name="Email">
</section>
<section>
    <label for="Website">Website</label>
    <input type="url" placeholder="www.google.com" name="website">
</section>
<section>
    <label for="category">Resapy category</label>
    <input list="category" name="category" placeholder="Choose category">
    <datalist id="category">
        <option value="Bread" selected>Bread</option>
        <option value="Starters">Starters</option>
        <option value="Main Courses">Main Courses</option>
        <option value="Desserts">Desserts</option>
        <option value="Drinks">Drinks</option>
    </datalist>
</section>
<section>
    <input type="radio" name="Star" value="Sunday"> 	&#11088; Easy Recipe
    <br>
    <input type="radio" name="Star" value="Sunday"> 	&#11088;	&#11088; Good Recipe
    <br>
    <input type="radio" name="Star" value="Sunday"> 	&#11088;	&#11088;	&#11088; Exotic Recipe
</section>
<Section>
    <input type="checkbox" name="day" value="Sunday"> Get Notifacations when there is new Recipe
    <br>
    <input type="checkbox" name="day" value="Sunday"> Get a Lot of junkmail about Food
</Section>
    </div>
    <button class="mybutton">Submit</button>
    </nav>
      <div class="sMedia">
        <div class="bubbles">
            <a href="http://twitter.com" title="Twitter">
                <span class="icon-twitter"> </span>
            </a>
        </div>
        <div class="facebook">
            <a href="https://facebook.com" title="Facebook">
                <span class="icon-facebook2"> </span>
            </a> 
        </div>
        <div class="github"> 
            <a href="https://github.com/Tardis2105/resipies_Template/tree/gh-pages" title="Github">
                <span class="icon-github"> </span>
            </a>
        </div>
        <div class="soundcloud"> 
            <a href="https://soundcloud.com/" title="Soundcloud">
                <span class="icon-soundcloud"> </span>
            </a>
        </div>
    </div>  
</body>
</html>