
<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styless.min.css">
    <title>My Recipes</title>
</head>
<body class="container">
    <header class="headcol-2">
        <div>
            <h4><em>With a little help from my friends</em></h4>
        </div>
        <nav class="topnav">
            <ul class="topmenu">
                <li><a href="bread.html"><span class="icon-Bread"></span> Bread</a></li>
                <li><a href="#"><span class="icon-Starters"></span> Starters</a></li>
                <li><a href="#"><span class="icon-Meals"></span> Main Courses</a></li>
                <li><a href="#"><span class="icon-Sweets"></span> Desserts</a></li>
                <li><a href="#"><span class="icon-Drinks"></span> Drinks</a></li>
                <li><a href="forum.html"><span class="icon-forum"></span> Forum</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="col-3-1">
            <div class="splashlogo">
                <img src="img/my-recipes.svg" width="50%" title="myrecipes lógó">
            </div>
            <div class="kynning">
                <h2>Scalable Vector Graphics. Í 4. verkefni búum við til nýja forsíðu á uppskriftarvefinn og notum SVG tákn í lógó og leturtákn í efnisyfirliti.  Til að byrja með notum við vefsíðurnar úr 3. verkefni sem undirsíður og höfum aðra tengla í efnisyfirlitinu óvirka. </h2>
            </div>
            <div class="auglysing">
                <p>{% include "auglysing.html" %}
            <div>
        </section>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                  <th scope="col">Catacory</th>
                  <th scope="col">Number of Recipes</th>
                  <th scope="col">Phishical Book</th>
                  <th scope="col">Price</th>
                </tr>
                <tr>
                  <td>Bread</td>
                  <td>7</td>
                  <td>In Stock</td>
                  <td>$30.0</td>
                </tr>
                <tr>
                  <td>Starters</td>
                  <td>0</td>
                  <td>Out of Stock</td>
                  <td>$35</td>
                </tr>
                <tr>
                  <td>Main Courses</td>
                  <td>0</td>
                  <td>Out of Stock</td>
                  <td>$40</td>
                </tr>
                <tr>
                  <td>Desserts</td>
                  <td>0</td>
                  <td>Out of Stock</td>
                  <td>$30</td>
                </tr>
              </table>
         
        </table>
        </div>
        <figure class="col-4">
            <img src="img/bread.jpg" title="bread">
            <img src="img/FigHamStarter.jpg"title="starters">
            <img src="img/Grilled-Buttermilk-Chicken.jpg"itle="courses">
            <img src="img/desserts-hero.jpg"title="desserts">
        </figure>
    </main>
    <footer><p>&copy; 2020 EDS - tölvubraut Tækniskólans</p></footer>
<div class="sMedia">
    <div class="bubbles">
        <a href="http://twitter.com" title="Twitter">
            <span class="icon-twitter"> </span>
        </a>
    </div>
    <div class="facebook">
        <a href="https://facebook.com" title="Facebook">
            <span class="icon-facebook2"> </span>
        </a> 
    </div>
    <div class="github"> 
        <a href="https://github.com/Tardis2105/resipies_Template/tree/gh-pages" title="Github">
            <span class="icon-github"> </span>
        </a>
    </div>
    <div class="soundcloud"> 
        <a href="https://soundcloud.com/" title="Soundcloud">
            <span class="icon-soundcloud"> </span>
        </a>
    </div>
</div>
</body>
</html>